project:
  type: website
  output-dir: docs

website:
  title: "Elian Giordano"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - CV.qmd
      - courses.qmd
      - projects.qmd
      - code.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



