/* css styles */
.v-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

/* New rule to remove top margin/padding from the first heading in the right column */
.v-top > h3:first-child {
  margin-top: 0;
}